.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
}

.btn {
    width: 100px;
}

.field {
    margin-bottom: 10px;
}